@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

body {
    background-color: #EAF2EF;
    font-family: 'Joan', serif;
    color: #3B2C35;
}

.meu-nome { 
    font-size: 40px;
    text-align: center;
}
    


p {
    font-size: 20px;
}

strong {
     color: #2F232A;
}

li {
    font-size: 17px;    
}

.skills {
    font-size: 20px;
    color: #2F232A;
}

.button{
    background-color: #808080;
    color: #2F232A;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    
}

.buttonDirecionar{
    background-color: #808080;
    color: #2F232A;
    padding: 5px 20px;
    border-radius: 5px 15px;
    text-decoration: none;
    font-weight: 700;
}

.image {
    border-radius: 100px;
}



#minha-foto {
    float: left;
    height: 200px;
    padding: 10px;
    background-color: #3B2C35;
}

.image-container {
    height: 220px;
}

.descricao {
    position: relative;
    right: -3%;
    top: 30%;
}

#social-media { 
    padding: 20px;

}

ul li:nth-child(odd) { 
    background-color: #808080;
}

ul li:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
